#root {
  font-family: "EB Garamond", serif;
}
main {
  min-height: 80vh;
}

.card-title {
  font-size: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-text {
  font-size: 20px;
}

.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 4px;
}

.navbar-brand {
  font-size: 5rem;
}
